<div>
  <br><br>
  <button md-raised-button (click)="gotoAdd()">Add Task</button>
  <br><br>
  <div class="container mat-elevation-z8">
    <div class="header">
      <md-input-container floatPlaceholder="never">
        <input mdInput #filter placeholder="Filter tasks">
      </md-input-container>
    </div>

    <md-table #table [dataSource]="dataSource" mdSort>
      <ng-container cdkColumnDef="id">
        <md-header-cell *cdkHeaderCellDef md-sort-header> ID </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="title">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Title </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.title}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="end_date">
        <md-header-cell *cdkHeaderCellDef md-sort-header> End Date </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.end_date}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="details">
        <md-header-cell *cdkHeaderCellDef> View Details </md-header-cell>
        <md-cell *cdkCellDef="let row"><button md-raised-button (click)="gotoDetail(row.id)">View Details</button></md-cell>
      </ng-container>

      <ng-container cdkColumnDef="delete">
        <md-header-cell *cdkHeaderCellDef> Delete </md-header-cell>
        <md-cell *cdkCellDef="let row"><button md-raised-button (click)="delete(row.id)">Delete</button></md-cell>
      </ng-container>

      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  </div>
</div>