<h2>Add Task</h2>
<form #taskForm="ngForm" class="example-form">
  <md-input-container class="example-full-width">
    <input
      mdInput
      required
      name="title"
      placeholder="Title"
      minlength="5" maxlength="30"
      #title="ngModel"
      [(ngModel)]="task.title"/>
    <md-error *ngIf="title.errors && (title.dirty || title.touched) && title.errors.minlength">
      Title minlength is 5
    </md-error>
    <md-error *ngIf="title.errors && (title.dirty || title.touched) && title.errors.required">
      Title is <strong>required</strong>
    </md-error>
  </md-input-container>
  <br><br>
  <md-input-container class="example-full-width">
    <input
      mdInput
      required
      name="endDate"
      placeholder="Choose task end date"
      [mdDatepicker]="picker"
      #endDate="ngModel"
      [(ngModel)]="task.end_date">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
    <md-error *ngIf="endDate.errors && (endDate.dirty || endDate.touched) && endDate.errors.required">
      End Date is <strong>required</strong>
    </md-error>
  </md-input-container>
  <md-datepicker #picker></md-datepicker>
  <br><br>
  <button md-raised-button [disabled]="!taskForm.form.valid" (click)="add()">Save</button>
  <button md-raised-button (click)="goBack()">Back</button>
</form>