<md-card>
  <md-card-header>
    <md-card-title>Add Attendee</md-card-title>
  </md-card-header>
  <md-card-content>
    <form #attendeeForm="ngForm" class="example-form">
      <md-input-container class="example-full-width">
        <input
          mdInput 
          required 
          name="name" 
          placeholder="Name"
          minlength="5" maxlength="30"
          #name="ngModel" 
          [(ngModel)]="attendee.name"/>
        <md-error *ngIf="name.errors && (name.dirty || name.touched) && name.errors.minlength">
          Name minlength is 5
        </md-error>
        <md-error *ngIf="name.errors && (name.dirty || name.touched) && name.errors.required">
          Name is <strong>required</strong>
        </md-error>
      </md-input-container>
      <br><br>
      <button md-raised-button [disabled]="!attendeeForm.form.valid" (click)="add()">Save</button>
      <button md-raised-button (click)="goBack()">Back</button>
    </form>
  </md-card-content>
</md-card>