<div>
  <br><br>
  <button md-raised-button (click)="gotoAdd()">Add Attendee</button>
  <button md-raised-button [disabled]="fullModeActivated" (click)="toggleMode(true)">Full Mode</button>
  <button md-raised-button [disabled]="!fullModeActivated" (click)="toggleMode(false)">Compact Mode</button>
  <br><br>
  <div class="container mat-elevation-z8">
    <div class="header">
      <md-input-container floatPlaceholder="never">
        <input mdInput #filter placeholder="Filter attendees">
      </md-input-container>
    </div>

    <md-table #table [dataSource]="dataSource" mdSort>
      <ng-container cdkColumnDef="id" *ngIf="fullModeActivated">
        <md-header-cell *cdkHeaderCellDef md-sort-header> ID </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="photo">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Photo </md-header-cell>
        <md-cell *cdkCellDef="let row"><img class="example-image-small" src={{row.photo}} alt={{row.name}}></md-cell>
      </ng-container>

      <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="average_grade">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Average Grade </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.average_grade}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="missing_tasks" *ngIf="fullModeActivated">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Missing Tasks </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.missing_tasks}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="delivered_tasks" *ngIf="fullModeActivated">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Delivered Tasks </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.delivered_tasks}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="updated_at" *ngIf="fullModeActivated">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Updated At </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.updated_at | date:'medium'}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="details">
        <md-header-cell *cdkHeaderCellDef> View Details </md-header-cell>
        <md-cell *cdkCellDef="let row"><button md-raised-button (click)="gotoDetail(row.id)">View Details</button></md-cell>
      </ng-container>

      <ng-container cdkColumnDef="delete">
        <md-header-cell *cdkHeaderCellDef> Delete </md-header-cell>
        <md-cell *cdkCellDef="let row"><button md-raised-button (click)="delete(row.id)">Delete</button></md-cell>
      </ng-container>

      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  </div>
</div>