<h2>Add Note</h2>
<form #noteForm="ngForm" class="example-form">
  <md-input-container class="example-full-width">
    <input
      mdInput 
      required 
      name="attendee" 
      placeholder="Attendee"
      minlength="5" maxlength="30"
      #attendee="ngModel" 
      [(ngModel)]="note.attendee"/>
    <md-error *ngIf="attendee.errors && (attendee.dirty || attendee.touched) && attendee.errors.minlength">
      Attendee minlength is 5
    </md-error>
    <md-error *ngIf="attendee.errors && (attendee.dirty || attendee.touched) && attendee.errors.required">
      Attendee is <strong>required</strong>
    </md-error>
  </md-input-container>
  <br><br>
  <md-input-container class="example-full-width">
    <input
      mdInput 
      required 
      name="task" 
      placeholder="Task"
      minlength="5" maxlength="30"
      #task="ngModel" 
      [(ngModel)]="note.task"/>
    <md-error *ngIf="task.errors && (task.dirty || task.touched) && task.errors.minlength">
      Task minlength is 5
    </md-error>
    <md-error *ngIf="task.errors && (task.dirty || task.touched) && task.errors.required">
      Task is <strong>required</strong>
    </md-error>
  </md-input-container>
  <br><br>
  <md-input-container class="example-full-width">
    <input type="number"
      mdInput 
      required 
      name="value" 
      placeholder="Value"
      #value="ngModel" 
      [(ngModel)]="note.value"/>
    <md-error *ngIf="value.errors && (value.dirty || value.touched) && value.errors.required">
      Value is <strong>required</strong>
    </md-error>
  </md-input-container>
  <br><br>
  <button md-raised-button [disabled]="!noteForm.form.valid" (click)="add()">Save</button>
  <button md-raised-button (click)="goBack()">Back</button>
</form>